/* --- Inicio Estilos Globales --- */
* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    position: absolute;
}

html {
    font-size: 8px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
/* --- Fin Estilos Globales --- */



/* ----- MOBILE ----- */

.titulo_general {
    font-size: 2rem;
    text-decoration: underline 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

    /* --- Inicio Header --- */

.background {
    background-image: url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
    border: 2px solid rgb(0, 0, 0);
    height: 10vh;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100px;
}

.nombre {
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 4.5rem;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000000, -2px -2px 0 #000; 
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 2%;
    margin-left: auto;
    column-gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

    /* --- Fin Header --- */    

    /* --- Inicio Main --- */

/* "Inicio" */
    /* Portadas */
.portadas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 7%;
}

.productos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
    width: 20wh;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

    /* Textos */
.textos_portadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* "Productos" */
    /* Textos */

.subtitulos_productos {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-style: italic;
    position: relative;
    left: 5rem;
}

.textos_productos {
    top: 3rem;
}

/* "Contacto" */
.subtitulos_contacto {
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    font-style: italic;
}

    /* Iconos */
.icono_grande {
    height: 2vh;
}

.whatsapp_icono_contacto {
    top: 15rem;
    left: 39.6rem;
}

.mail_icono_contacto {
    top: 25rem;
    left: 34.2rem;
}

    /* Texto */

.contactos {
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.links_contacto {
    color: rgb(0, 0, 0);
    padding-top: 1.5%;
}

.columnas {
    display: flex;
    flex-direction: column;
}

/* --- Fin Main --- */

/* --- Inicio Footer --- */
    /* Iconos */

.altura {
    padding-top: 10%;
}

.posicion_info {
    display: flex;
    column-gap: 10px;
    padding-bottom: 2%;
}

.icono {
    height: 2vh;
    width: 10wh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
}


/* Links */
    /* "Inicio" */

.link_instagram {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.link_whatsapp {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.link_mail {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

/* Info */
.direccion {
    width: 100%;
    font-size: 1.5rem;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    padding-bottom: 2% ;
}

.firma {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-style: italic;
    padding-top: 20%;
}

/* --- Fin Footer --- */

/* ----- Tablet ----- */

@media only screen and (min-width: 481px) {

    html {
        font-size: 12px;
    }

    .titulo_general {
        font-size: 3.5rem;
        text-decoration: underline 5px;
    }

    /* --- Inicio Header --- */

    .background {
        height: 15vh;
    }

    .nombre {
        font-size: 3.5rem;
    }

    .links {
        flex-direction: row;
    }

    /* --- Fin Header --- */    

    /* --- Inicio Main --- */

        /* "Inicio" */

    .portadas{
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .productos {    
        height: 30vh;
    }

    .textos_portadas {
        font-size: 20px;
    }

        /* Iconos */
    .icono_grande {
        height: 3.5vh;
    }

    /* --- Fin Main --- */

    /* --- Inicio Footer --- */
    .icono {
        height: 3vh;
    }
    .link_instagram {
        color: rgb(0, 0, 0);
        font-size: 2rem;
    }
    
    .link_whatsapp {
        color: rgb(0, 0, 0);
        font-size: 2rem;
    }
    
    .link_mail {
        color: rgb(0, 0, 0);
        font-size: 2rem;
    }
}

/* ----- Desktop ----- */
@media only screen and (min-width: 769px) {

    html {
        font-size: 16px;
    }

    /* --- Inicio Header --- */

    .background {
        height: 20vh;
    }

    .productos {    
        height: 50vh;
    }

    .textos_portadas {
        font-size: 30px;
    }

        /* Iconos */
    .icono_grande {
        height: 4.5vh;
    }

        /* --- Fin Main --- */

    /* --- Inicio Footer --- */
        /* Links */

    .icono {
        height: 4vh;
    }
    .link_instagram {
        color: rgb(0, 0, 0);
        font-size: 2.2rem;
    }
    
    .link_whatsapp {
        color: rgb(0, 0, 0);
        font-size: 2.2rem;
    }
    
    .link_mail {
        color: rgb(0, 0, 0);
        font-size: 2.2rem;
    }
}