/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* -- Header -- */
.titulo_general {
  font-size: 2rem;
  text-decoration: underline 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 2%;
  margin-left: auto;
  column-gap: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.nombre {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.5rem;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000000, -2px -2px 0 #000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 40px;
}

.background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-size: cover;
  border: 2px solid rgb(0, 0, 0);
  height: 15vh;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* -- Main -- */
.portadas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 7%;
}

.productos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  height: 15vh;
  width: 20wh;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}
.productos:hover {
  transform: scale(1.1);
}

.textos_portadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.subtitulos_productos {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  left: 5rem;
}

.subtitulos_contacto {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  font-style: italic;
}

.contactos {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* -- Footer -- */
.posicion_info {
  display: flex;
  column-gap: 10px;
  padding-bottom: 2%;
}

.icono {
  height: 2vh;
  width: 10wh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
}

.direccion {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 2%;
}

.firma {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 20%;
}

/* ----- MOBILE ----- */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* -- Header -- */
.titulo_general {
  font-size: 2rem;
  text-decoration: underline 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 2%;
  margin-left: auto;
  column-gap: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.nombre {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.5rem;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000000, -2px -2px 0 #000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 40px;
}

.background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-size: cover;
  border: 2px solid rgb(0, 0, 0);
  height: 15vh;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* -- Main -- */
.portadas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 7%;
}

.productos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  height: 15vh;
  width: 20wh;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}
.productos:hover {
  transform: scale(1.1);
}

.textos_portadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.subtitulos_productos {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  left: 5rem;
}

.subtitulos_contacto {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  font-style: italic;
}

.contactos {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* -- Footer -- */
.posicion_info {
  display: flex;
  column-gap: 10px;
  padding-bottom: 2%;
}

.icono {
  height: 2vh;
  width: 10wh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
}

.direccion {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 2%;
}

.firma {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 20%;
}

/* ----- MOBILE ----- */
/* "Inicio" */
/* Portadas */
/* Textos */
/* "Productos" */
/* Textos */
.textos_productos {
  top: 3.5rem;
}

/* "Contacto" */
/* Iconos */
.icono_grande {
  height: 2vh;
}

.whatsapp_icono_contacto {
  top: 15rem;
  left: 39.6rem;
}

.mail_icono_contacto {
  top: 25rem;
  left: 34.2rem;
}

/* Texto */
.links_contacto {
  color: rgb(0, 0, 0);
  padding-top: 1.5%;
}

.columnas {
  display: flex;
  flex-direction: column;
}

/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* -- Header -- */
.titulo_general {
  font-size: 2rem;
  text-decoration: underline 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 2%;
  margin-left: auto;
  column-gap: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.nombre {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.5rem;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000000, -2px -2px 0 #000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 40px;
}

.background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-size: cover;
  border: 2px solid rgb(0, 0, 0);
  height: 15vh;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* -- Main -- */
.portadas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 7%;
}

.productos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  height: 15vh;
  width: 20wh;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}
.productos:hover {
  transform: scale(1.1);
}

.textos_portadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.subtitulos_productos {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  left: 5rem;
}

.subtitulos_contacto {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  font-style: italic;
}

.contactos {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* -- Footer -- */
.posicion_info {
  display: flex;
  column-gap: 10px;
  padding-bottom: 2%;
}

.icono {
  height: 2vh;
  width: 10wh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
}

.direccion {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 2%;
}

.firma {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 20%;
}

/* ----- MOBILE ----- */
/* Iconos */
.altura {
  padding-top: 10%;
}

/* Links */
/* "Inicio" */
.link_instagram {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.link_whatsapp {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.link_mail {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

/* Info */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* -- Header -- */
.titulo_general {
  font-size: 2rem;
  text-decoration: underline 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 2%;
  margin-left: auto;
  column-gap: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.nombre {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.5rem;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000000, -2px -2px 0 #000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 40px;
}

.background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-size: cover;
  border: 2px solid rgb(0, 0, 0);
  height: 15vh;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* -- Main -- */
.portadas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 7%;
}

.productos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  height: 15vh;
  width: 20wh;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}
.productos:hover {
  transform: scale(1.1);
}

.textos_portadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.subtitulos_productos {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  left: 5rem;
}

.subtitulos_contacto {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
  font-style: italic;
}

.contactos {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* -- Footer -- */
.posicion_info {
  display: flex;
  column-gap: 10px;
  padding-bottom: 2%;
}

.icono {
  height: 2vh;
  width: 10wh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
}

.direccion {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 2%;
}

.firma {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 20%;
}

/* Tamanio textos generales*/
/* Redimensionamiento */
/* Tamanio textos generales*/
/* Redimensionamiento */
/* ----- MOBILE ----- */
/* --- Inicio Estilos Globales --- */
* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  position: absolute;
}

html {
  font-size: 8px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-decoration: none;
  justify-content: none;
}

/* --- Fin Estilos Globales --- */
/* ----- Tablet ----- */
@media only screen and (min-width: 481px) {
  html {
    font-size: 12px;
  }
  .titulo_general {
    font-size: 3.5rem;
    text-decoration: underline 5px;
  }
  /* -- Header -- */
  .background {
    height: 15vh;
  }
  .links {
    font-size: 2rem;
  }
  .logo {
    width: 100px;
  }
  .nombre {
    font-size: 3.5rem;
  }
  .links {
    flex-direction: row;
  }
  /* -- Main -- */
  /* "Inicio" */
  .portadas {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .productos {
    height: 30vh;
  }
  .textos_portadas {
    font-size: 2rem;
  }
  /* Iconos */
  .icono_grande {
    height: 3.5vh;
  }
  /* -- Footer -- */
  .icono {
    height: 3vh;
  }
  .link_instagram {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
  .link_whatsapp {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
  .link_mail {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
}
/* ----- Desktop ----- */
@media only screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }
  /* -- Header -- */
  .background {
    height: 25vh;
    background-position-y: 50%;
  }
  .links {
    font-size: 2.5rem;
  }
  /* -- Main -- */
  .productos {
    height: 50vh;
  }
  .textos_portadas {
    font-size: 2rem;
  }
  /* Iconos */
  .icono_grande {
    height: 4.5vh;
  }
  /* -- Footer -- */
  /* Links */
  .icono {
    height: 4vh;
  }
  .link_instagram {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
  .link_whatsapp {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
  .link_mail {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
